{% extends "blank.html" %}

{% block title %}
    interface list
{% endblock %}

{% block page_header %}
    接口列表
{% endblock %}

{% block  content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <a id="interface_add" type="button" class="btn btn-primary " href="/interface.html">新增接口</a>
            <a id="bulk-import" type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">批量导入</a>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover" id="dataTable" width="95%" cellspacing="0">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>所属模块</th>
                    <th>接口名称</th>
                    <th>接口URL</th>
                    <th>接口方法</th>

                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for interface in interfaces %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{ interface.module.module_name }}</td>
                        <td>{{ interface.interface_name }}</td>
                        <td>{{ interface.interface_url }}</td>
                        <td>{{ interface.interface_method }}</td>
                        <td>
                            <div class="btn-group">
                            <a id="interface_modify" class="btn btn-primary" href="/interface/{{ interface.id }}/edit.html">编辑</a>
                            <a class="btn btn-success" href="/test_case_add.html?interface_id={{ interface.id }}">添加用例</a>
                            <button class="btn btn-danger interface_delete" data-id="{{ interface.id }}">删除</button>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" href="/interface.html"> 新增</a>
        </div>
    </div>


    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">批量导入接口</h4>
                </div>
                <form action="/interface/import" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="alert alert-danger">
                            目前只支持swagger格式。<a href="https://swagger.io/" class="alert-link">什么是swagger？</a>.
                        </div>
                        <div class="form-group">
                            <label>File input</label>
                            <input type="file" name="interface_file" id="interface_file">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">导入</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}


{% block own_js %}

    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <script>
        // 格式化header body query verification
        $(".out_pre").each(function(){
            var in_json = $(this).text();
            console.log(in_json);
            var out_json = JSON.stringify(JSON.parse(in_json), null, 2);
            $(this).text(out_json)
        });

        $('#dataTable').DataTable({
            responsive: true
        });

        // 删除接口
        $(".interface_delete").on("click", function(){

            var interface_id = $(this).attr("data-id");

            $.ajax({
            url: "/interface/"+interface_id+"/delete",
            method: "DELETE",
            success: function(data){
                if (data.ret == 1){
                    alert("删除成功！");
                    window.location.reload();
                }else{
                    alert(data.error);
                }
            }

        });


        });

    </script>
{% endblock %}