{% extends "blank.html" %}

{% block title %}
    add new interface
{% endblock %}

{% block own_css %}
    <link href="/static/vendor/jquery/jsoneditor.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/ladda/ladda-themeless.min.css">
{% endblock %}

{% block page_header %}
    添加新接口
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">

                <div class="form-inline">
                    <label class="control-label">接口名称:</label>
                    <input type="text" class="form-control" id="interface_name" name="interface_name" placeholder="接口名称"
                           style="width: 30%">
                    &nbsp;&nbsp;
                    <label class="control-label">所属模块：</label>
                    <select class="form-control" id="module_id" name="module_id">
                        {% for module in modules %}
                            <option value="{{ module.id }}">{{ module.module_name }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" id="csrf_token"/>
                </div>
                <br/>

                <div class="form-group">
                    <div class="btn-group">
                        <button id="dLabel" style="width: 100px" name="interface_method" type="button"
                                class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span id='interface_method'>GET</span>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>GET</li>
                            <li>POST</li>
                            <li>PUT</li>
                            <li>DELETE</li>
                            <li>PATCH</li>
                            <li>HEAD</li>
                            <li>OPTIONS</li>
                        </ul>

                        <div class="input-group">

                            <input class="form-control" type="text" style="width: 500px" placeholder="输入url"
                                   id="interface_url"/>

                            <div class="btn-group">

                                <button class="btn btn-outline btn-primary ladda-button" type="button"
                                        style="width: 100px"
                                        id="test_interface" data-style="zoom-in">
                                    <span class="ladda-label">
                                    SEND <span class="fa fa-paper-plane-o fa-fw"></span>
                                    </span>
                                </button>
                                <button class="btn btn-outline btn-success" type="button" style="width: 100px"
                                        id="add_interface">
                                    SAVE <span class="fa fa-floppy-o  fa-fw"></span>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="tabbable tabs-below" id="tabs-857406">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-headers" data-toggle="tab">Headers</a>
                        </li>
                        <li>
                            <a href="#panel-query" data-toggle="tab">Query</a>
                        </li>
                        <li>
                            <a href="#panel-body" data-toggle="tab">Body</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-headers">
                            <table class="table table-hover" id="header_table">
                                <thead>
                                <tr class="info">
                                    <th style="width: 50px">required</th>
                                    <th>key</th>
                                    <th>value</th>
                                    <th>description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="require_header_table" checked></td>
                                    <td><input type="text" class="form-control key_header_table" disabled></td>
                                    <td><input type="text" class="form-control value_header_table" disabled></td>
                                    <td><input type="text" class="form-control description_header_table" disabled></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-gruop">
                                <button class="btn btn-success" id="add_headers">
                                    <span class="fa fa-plus-circle fa-fw"></span>
                                </button>
                                <button class="btn btn-danger" id="del_headers">
                                    <span class="fa fa-minus fa-fw"></span>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane" id="panel-query">
                            <table class="table table-hover" id="query_table">
                                <thead>
                                <tr class="warning">
                                    <th style="width: 50px">required</th>
                                    <th>key</th>
                                    <th>value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="require_query_table" checked></td>
                                    <td><input type="text" class="form-control key_query_table" disabled></td>
                                    <td><input type="text" class="form-control value_query_table" disabled></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-gruop">
                                <button class="btn btn-success" id="add_query">
                                    <span class="fa fa-plus-circle fa-fw"></span>
                                </button>
                                <button class="btn btn-danger" id="del_query">
                                    <span class="fa fa-minus fa-fw"></span>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane" id="panel-body">

                            <div class="tabbable tabs-below" id="tabs-518269"><!-- Only required for left/right tabs -->
                                <ul class="nav nav-pills">

                                    <li class="active body_type" id="form_data_select">
                                        <a data-toggle="tab" href="#panel-form-data">
                                            form-data
                                        </a>
                                    </li>
                                    <li class="body_type" id="urlencoded_data_select">
                                        <a data-toggle="tab" href="#panel-urlencoded-data">
                                            x-www-form-urlencoded
                                        </a>
                                    </li>
                                    <li class="body_type" id="JSON_data_select">
                                        <a data-toggle="tab" href="#panel-json-data">
                                            JSON(application/json)
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="panel-form-data">
                                        <table class="table table-hover" id="form_data">
                                            <thead>
                                            <tr class="warning">
                                                <th style="width: 50px">required</th>
                                                <th>key</th>
                                                <th>value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><input type="checkbox" class="require_form_data" checked></td>
                                                <td><input type="text" class="form-control key_form_data"></td>
                                                <td><input type="text" class="form-control value_form_data"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="btn-group">
                                            <button class="btn btn-success" id="add_form_data">
                                                <span class="fa fa-plus-circle fa-fw"></span>
                                            </button>
                                            <button class="btn btn-danger" id="del_form_data">
                                                <span class="fa fa-minus fa-fw"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="panel-urlencoded-data">
                                        <table class="table table-hover" id="urlencoded_data">
                                            <thead>
                                            <tr class="success">
                                                <th style="width: 50px">required</th>
                                                <th>key</th>
                                                <th>value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><input type="checkbox" class="require_urlencoded_data" checked></td>
                                                <td><input type="text" class="form-control key_urlencoded_data"></td>
                                                <td><input type="text" class="form-control value_urlencoded_data"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="btn-group">
                                            <button class="btn btn-success" id="add_urlencoded_data">
                                                <span class="fa fa-plus-circle fa-fw"></span>
                                            </button>
                                            <button class="btn btn-danger" id="del_urlencoded_data">
                                                <span class="fa fa-minus fa-fw"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="panel-json-data">

                                        <div id="jsoneditor" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <hr/>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Response
                    </div>
                    <div class="panel-body" id="interface_response" style="height: 300px">
                        response
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block own_js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="/static/vendor/jquery/jsoneditor-minimalist.js"></script>
    <script src="/static/vendor/ladda/spin.min.js"></script>
    <script src="/static/vendor/ladda/ladda.min.js"></script>
    <script src="/static/js/test_runner/interface.js"></script>

    <script>
        // create the editor
        var container = document.getElementById('jsoneditor');
        var options = {
            modes: ['text', 'code', 'tree', 'form', 'view'],
            mode: 'code',
            ace: ace
        };
        var editor = new JSONEditor(container, options);


        $('.dropdown-menu').on('click', function (e) {
            var $target = $(e.target);
            $target.is('li') && $('#interface_method').text($target.text())
        });

        $("#add_form_data").click(function () {
            $.table_add_tr("form_data");
        });

        $("#del_form_data").click(function () {
            $.table_delete_tr("form_data");
        });

        $("#add_urlencoded_data").click(function () {
            $.table_add_tr("urlencoded_data");
        });
        $("#del_urlencoded_data").click(function () {
            $.table_delete_tr("urlencoded_data");
        });

        $("#add_headers").click(function () {
            $.table_add_tr("header_table");
        });
        $("#del_headers").click(function () {

            $.table_delete_tr("header_table");
        });

        $("#form_data_select").click(function () {

            $.set_header_type("application/form-data")
        });

        $("#urlencoded_data_select").click(function () {

            $.set_header_type("application/x-www-form-urlencoded")
        });

        $("#JSON_data_select").click(function () {

            $.set_header_type("application/json")
        });

        var l = Ladda.create(document.getElementById('test_interface'));

        $("#test_interface").click(function () {
            var api_data = $.get_api_data();
            var data_type = $.trim($(".active.body_type").text());


            if (data_type == "form-data") {

                $.api_request(l, api_data["interface_url"], api_data["interface_method"], api_data["headers"], api_data["form_data"]);

            }
            if (data_type == "x-www-form-urlencoded") {
                $.api_request(l, api_data["interface_url"], api_data["interface_method"], api_data["headers"], api_data["urlencoded_data"]);

            }
            if (data_type == "JSON(application/json)") {

                $.api_request(l, api_data["interface_url"], api_data["interface_method"], api_data["headers"], editor.getText());

            }
        });

        $("#add_interface").click(function () {
            var api_data = $.get_api_data();
            var data_type = $.trim($(".active.body_type").text());


            if (data_type == "form-data") {

                $.api_save(api_data["interface_name"], api_data["module_id"], api_data["interface_url"], api_data["interface_method"], api_data["headers"], api_data["form_data"]);
            }
            if (data_type == "x-www-form-urlencoded") {
                $.api_save(api_data["interface_name"], api_data["module_id"], api_data["interface_url"], api_data["interface_method"], api_data["headers"], api_data["urlencoded_data"]);
            }
            if (data_type == "JSON(application/json)") {

                $.api_save(api_data["interface_name"], api_data["module_id"], api_data["interface_url"], api_data["interface_method"], api_data["headers"], editor.getText());
                {##}
                {#            alert(data3)#}

            }
        });


    </script>

{% endblock %}