{% extends "blank.html" %}

{% block title %}
    add new test case
{% endblock %}

{% block own_css %}
    <link href="/static/vendor/jquery/jsoneditor.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/ladda/ladda-themeless.min.css">
{% endblock %}

{% block page_header %}
    添加用例
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">

                <div class="form-inline">
                    <label class="control-label">用例名称:</label>
                    <input type="text" class="form-control" id="test_case_name" name="test_case_name" placeholder="用例名称"
                           style="width: 30%">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" id="csrf_token"/>
                    &nbsp;&nbsp;
                    <div class="form-group">
                        <label class="control-label">用例模版: </label>

                        <div class="btn-group">
                            <button id="dLabel" style="width: 100px" name="interface_method" type="button"
                                    class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span id='test_case_module' value="test">无</span>
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu test_case_module_menu" aria-labelledby="dLabel">
                                {% for module in modules %}
                                    <li value="{{ module.id }}">{{ module.module_name }}</li>
                                {% endfor %}
                            </ul>


                        </div>

                    </div>
                    &nbsp;&nbsp;
                    <div class="form-group">

                        <div class="btn-group">
                            <button id="dLabel" style="width: 100px" name="interface_method" type="button"
                                    class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span id='test_case_module_interface'>无</span>
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu test_case_module_interface_menu" aria-labelledby="dLabel">


                            </ul>


                        </div>

                    </div>


                </div>
            </div>
            <br/>

            <div class="form-group">
                <div class="btn-group">
                    <button id="dLabel" style="width: 100px" name="interface_method" type="button"
                            class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span id='test_case_method'>GET</span>
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu test_case_method_menu" aria-labelledby="dLabel">
                        <li>GET</li>
                        <li>POST</li>
                        <li>PUT</li>
                        <li>DELETE</li>
                        <li>PATCH</li>
                        <li>HEAD</li>
                        <li>OPTIONS</li>
                    </ul>

                    <div class="input-group">
                        <input class="form-control" type="text" style="width: 500px" placeholder="输入url"
                               id="test_case_url"/>
                        <div class="btn-group">
                            <button class="btn btn-outline btn-primary ladda-button" type="button" style="width: 100px"
                                    id="test_test_case" data-style="zoom-in">
                                <span class="ladda-label">
                                    SEND <span class="fa fa-paper-plane-o fa-fw"></span>
                                </span>

                            </button>
                            <button class="btn btn-outline btn-success" type="button" style="width: 100px"
                                    id="add_test_case">
                                SAVE <span class="fa fa-floppy-o  fa-fw"></span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
            <div class="alert alert-warning">
                通过{$key$}的形式来传递变量。key是你要传递的变量名。例：在上个接口的Verification保存你要传递的变量（变量不需要验证只需要传递时value不需填），key 填key1
                ，在后续接口中可以使用{$key1$}来获取保存下来的变量
            </div>
            <div class="tabbable tabs-below" id="tabs-857406">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-header" data-toggle="tab">Headers</a>
                    </li>
                    <li>
                        <a href="#panel-body" data-toggle="tab">Body</a>
                    </li>
                    <li>
                        <a href="#panel-verification" data-toggle="tab">Verification</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-header">
                        <table class="table table-hover" id="header_table">
                            <thead>
                            <tr class="info">
                                <th style="width: 50px">required</th>
                                <th>key</th>
                                <th>value</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div class="btn-gruop">
                            <button class="btn btn-success" id="add_headers">
                                <span class="fa fa-plus-circle fa-fw"></span>
                            </button>
                            <button class="btn btn-danger" id="del_headers">
                                <span class="fa fa-minus fa-fw"></span>
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-body">

                        <div class="tabbable" id="tabs-518269"><!-- Only required for left/right tabs -->
                            <ul class="nav nav-pills">

                                <li class="active body_type" id="form_data_select">
                                    <a data-toggle="tab" href="#panel-form-data"
                                       id="form_data_a">
                                        form-data
                                    </a>
                                </li>
                                <li class="body_type" id="urlencoded_data_select">
                                    <a data-toggle="tab" href="#panel-urlencoded-data"
                                       id="urlencoded_data_a">
                                        x-www-form-urlencoded
                                    </a>
                                </li>
                                <li class="body_type" id="JSON_data_select">
                                    <a data-toggle="tab" href="#panel-json-data"
                                       id="urlencoded_data_a">
                                        JSON(application/json)
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" contenteditable="true" id="panel-form-data">
                                    <table class="table table-hover" id="form_data">
                                        <thead>
                                        <tr class="warning">
                                            <th style="width: 50px">required</th>
                                            <th>key</th>
                                            <th>value</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <div class="btn-group">
                                        <button class="btn btn-success" id="add_form_data">
                                            <span class="fa fa-plus-circle fa-fw"></span>
                                        </button>
                                        <button class="btn btn-danger" id="del_form_data">
                                            <span class="fa fa-minus fa-fw"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane fade" contenteditable="true" id="panel-urlencoded-data">
                                    <table class="table table-hover" id="urlencoded_data">
                                        <thead>
                                        <tr class="success">
                                            <th style="width: 50px">required</th>
                                            <th>key</th>
                                            <th>value</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <div class="btn-group">
                                        <button class="btn btn-success" id="add_urlencoded_data">
                                            <span class="fa fa-plus-circle fa-fw"></span>
                                        </button>
                                        <button class="btn btn-danger" id="del_urlencoded_data">
                                            <span class="fa fa-minus fa-fw"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane fade" contenteditable="true" id="panel-json-data">

                                    <div id="jsoneditor" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="panel-verification">
                        <table class="table table-hover" id="verification_data">
                            <thead>
                            <tr class="danger">
                                <th style="width: 50px">save</th>
                                <th>key</th>
                                <th>value</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div class="btn-group">
                            <button class="btn btn-success" id="add_verification_data">
                                <span class="fa fa-plus-circle fa-fw"></span>
                            </button>
                            <button class="btn btn-danger" id="del_verification_data">
                                <span class="fa fa-minus fa-fw"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Response
                </div>
                <div class="panel-body" id="test_case_response" style="height: 300px">
                    response
                </div>

            </div>

        </div>
    </div>
    </div>

{% endblock %}

{% block own_js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="/static/vendor/jquery/jsoneditor-minimalist.js"></script>
    <script src="/static/vendor/ladda/spin.min.js"></script>
    <script src="/static/vendor/ladda/ladda.min.js"></script>
    <script src="/static/js/test_runner/test_case.js"></script>

    <script>
        // create the editor
        var container = document.getElementById('jsoneditor');
        var options = {
            modes: ['text', 'code', 'tree', 'form', 'view'],
            mode: 'code',
            ace: ace
        };
        var editor = new JSONEditor(container, options);

        $('.test_case_module_menu').on('click', function (e) {

            var $target = $(e.target);
            $target.is('li') && $('#test_case_module').text($target.text()) && $('#test_case_module').attr("value", $target.val());
            $.get_interface_by_module($target.val(), $.load_interface)
        });

        $('.test_case_module_interface_menu').on('click', function (e) {
            var $target = $(e.target);
            $target.is('li') && $('#test_case_module_interface').text($target.text());
            $.get_interface_by_id($target.attr("value"), $.load_interface_info, editor)

        });

        $('.test_case_method_menu').on('click', function (e) {
            var $target = $(e.target);
            $target.is('li') && $('#test_case_method').text($target.text())
        });

        $("#add_verification_data").click(function () {
            $.table_add_tr("verification_data", "", "");
        });

        $("#del_verification_data").click(function () {
            $.table_delete_tr("verification_data");
        });

        $("#add_form_data").click(function () {
            $.table_add_tr("form_data", "", "");
        });

        $("#del_form_data").click(function () {
            $.table_delete_tr("form_data");
        });

        $("#add_urlencoded_data").click(function () {
            $.table_add_tr("urlencoded_data", "", "");
        });

        $("#del_urlencoded_data").click(function () {
            $.table_delete_tr("urlencoded_data", "", "");
        });


        $("#add_headers").click(function () {
            $.table_add_tr("header_table", "", "");
        });

        $("#del_headers").click(function () {

            $.table_delete_tr("header_table");
        });


        $("#form_data_select").click(function () {

            $.set_header_type("application/form-data")
        });

        $("#urlencoded_data_select").click(function () {

            $.set_header_type("application/x-www-form-urlencoded")
        });

        $("#JSON_data_select").click(function () {

            $.set_header_type("application/json")
        });

        var l = Ladda.create(document.getElementById('test_test_case'));

        $("#test_test_case").click(function () {
            var api_data = $.get_api_data();
            var data_type = $.trim($(".active.body_type").text());

            l.start();

            if (data_type == "form-data") {

                $.api_request(l, api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["form_data"], api_data["verification_data"]);

            }
            if (data_type == "x-www-form-urlencoded") {

                $.api_request(l, api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["urlencoded_data"], api_data["verification_data"]);
            }
            if (data_type == "JSON(application/json)") {

                $.api_request(l, api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], editor.getText(), api_data["verification_data"]);

            }
        });

        $("#add_test_case").click(function () {
            var api_data = $.get_api_data();
            var data_type = $.trim($(".active.body_type").text());


            if (data_type == "form-data") {

                $.test_case_save(api_data["test_case_name"], api_data["module_id"], api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["form_data"], api_data["verification_data"]);
            }
            if (data_type == "x-www-form-urlencoded") {
                $.test_case_save(api_data["test_case_name"], api_data["module_id"], api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["urlencoded_data"], api_data["verification_data"]);
            }
            if (data_type == "JSON(application/json)") {


                $.test_case_save(api_data["test_case_names"], api_data["module_id"], api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], editor.getText(), api_data["verification_data"]);


            }
        });


    </script>

{% endblock %}