{% extends "blank.html" %}

{% block title %}
    编辑用例
{% endblock %}

{% block page_header %}
    编辑用例
{% endblock %}

{% block own_css %}
    <link rel="stylesheet" href="/static/vendor/ladda/ladda-themeless.min.css">
{% endblock %}


{% block content %}
    <div class="panel panel-primary" style="width: 100%">
        <div class="panel-heading">
            用例基本信息
        </div>
        <form action="#" method="post">
            <div class="panel-body">

                <div class="form-inline">
                    {{ form.csrf_token }}
                    {{ render_field(form.testcase_group_name, class="form-control", placeholder="用例集名称", size="50") }}
                    {{ render_field(form.module, class="form-control") }}
                    {{ render_field(form.type, class="form-control") }}
                    {{ render_field(form.runner_setting, class="form-control") }}
                </div>
                <hr/>
                {{ render_field(form.testcase_desc, class="form-control") }}

            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">更新</button>
            </div>
        </form>

    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            包含用例
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover" id="test_case_id">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>用例名称</th>
                    <th>请求url</th>
                    <th>请求headers</th>
                    <th>请求query</th>
                    <th>请求body</th>
                    <th>验证点</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for testcase_testgroup in testcase_testgroups %}
                    <tr>
                        <td><input type="checkbox" class="test_case_check" value="{{ testcase_testgroup.id }}"></td>
                        <td>{{ testcase_testgroup.testcase.testcase_name}}</td>
                        <td>{{ testcase_testgroup.testcase.interface_url }}</td>
                        <td><pre class="out_pre">{{ testcase_testgroup.testcase.testcase_header|tojson }}</pre></td>
                        <td><pre class="out_pre">{{ testcase_testgroup.testcase.testcase_query |tojson}}</pre></td>
                        <td><pre class="out_pre">{{ testcase_testgroup.testcase.testcase_body |tojson}}</pre></td>
                        <td><pre class="out_pre">{{ testcase_testgroup.testcase.testcase_verification|tojson }}</pre></td>
                        <td>
                            <a class="btn btn-primary" href="/testcase/{{ testcase_testgroup.testcase_id }}/test_case_edit.html">编辑</a>
                            <button class="btn btn-danger delete_case" value="{{ testcase_testgroup.id }}">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="panel-footer">
            <btton class="btn btn-success" id="add_case" data-toggle="modal" data-target="#myModal" data-placement="top"
                   title="Tooltip on top">
                <span class="fa fa-plus-circle"></span></button>
            </btton>
            <button class="btn btn-info ladda-button" id="run_case" data-id="{{ form._obj.id }}" data-style="zoom-in">
                <span class="fa fa-chevron-circle-right ladda-label"></span>
            </button>

        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"> 新增{{ form.testcase_group_name.data }}集用例</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title" id="myModalLabel"> 选择用例</h4>

                    <form role="form" action="/testcase_testgroup" method="post">

                        <div class="modal-body">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="hidden" value="{{ form._obj.id }}" id="testcase_group_id">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" id="csrf_token"/>
                                    <label class="control-label">模块: </label>

                                    <div class="btn-group">
                                        <button id="dLabel" style="width: 100px" name="interface_method" type="button"
                                                class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <span id='test_case_module' value="test">无</span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu test_case_module_menu" aria-labelledby="dLabel">
                                            {% for module in modules %}
                                                <li value="{{ module.id }}">{{ module.module_name }}</li>
                                            {% endfor %}
                                        </ul>


                                    </div>

                                </div>
                                &nbsp;&nbsp;
                                <label class="control-label">用例: </label>

                                <div class="form-group">

                                    <div class="btn-group">
                                        <button id="dLabel" style="width: 100px" name="interface_method" type="button"
                                                class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <span id='test_case_module_interface'>无</span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu test_case_module_interface_menu"
                                            aria-labelledby="dLabel">
                                        </ul>
                                    </div>

                                </div>
                                是否可用
                                <input type="checkbox" id="is_active" checked>
                            </div>
                            <a href="/test_case_add.html">用例不存在？</a>

                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add_testcase_testgroup">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block own_js %}
    <script src="/static/vendor/ladda/spin.min.js"></script>
    <script src="/static/vendor/ladda/ladda.min.js"></script>
    <script src="/static/js/test_runner/textares_auto_size.js"></script>
    <script src="/static/js/test_runner/test_case_details.js"></script>
    <script>

        // 格式化header body query verification
        $(".out_pre").each(function(){
            var in_json = $(this).text();
            console.log(in_json);
            var out_json = JSON.stringify(JSON.parse(in_json), null, 2);
            $(this).text(out_json)
        });

        $('.test_case_module_menu').on('click', function (e) {
            var $target = $(e.target);
            $target.is('li') && $('#test_case_module').text($target.text()) && $('#test_case_module').attr("value", $target.val());
            $.get_test_case_by_module($target.val(), $.load_interface)
        });

        $('.test_case_module_interface_menu').on('click', function (e) {
            var $target = $(e.target);
            $target.is('li') && $('#test_case_module_interface').text($target.text());
            var test_case_id = $target.attr("value");
            $('#test_case_module_interface').attr("value", test_case_id);

        });
        $("#add_testcase_testgroup").on('click', function () {
            $.add_test_case()
        });
        $("#delete_cases").on("click", function () {
            $.delete_cases("table_delete_tr");
        });
        $(".delete_case").on("click", function () {
            var case_id = $(this).attr("value");
            $.delete_case(case_id);

        });

        // Create a new instance of ladda for the specified button
        var l = Ladda.create(document.getElementById('run_case'));

        var testcase_group_run = $("#run_case");

        testcase_group_run.on("click", function () {

            l.start();

            var group_id = testcase_group_run.attr("data-id");
            $.ajax({
                "url": "/testgroup/" + group_id + "/run",
                "method": "POST",
                "success": function (data) {

                    l.stop();
                }

            })

        });


    </script>
{% endblock %}