{% extends "blank.html" %}

{% block title %}
    test_cases
{% endblock %}


{% block page_header %}
    用例管理
{% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-body">
      <div>
        <!-- 新增 -->
          <button id="case_add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增用例</button>
          <button id="case_run" type="button" class="btn btn-success ">运行用例</button>
          <button id="case_dete" type="button" class="btn btn-danger ">删除用例</button>
      </div>
    <hr>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>用例名称</th>
              <th>所属某块</th>
              <th>用例简介</th>
              <th>是否可用</th>

{#              <th>上次结果</th>#}
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% for test_case_group in  testcase_groups%}
            <tr>
              <td>{{ test_case_group.testcase_group_name }}</td>
              <td>{{ test_case_group.module_id }}</td>
              <td>{{ test_case_group.testcase_desc }}</td>
              <td>{{ test_case_group.is_active }}</td>
              <td>
                    <a id="project_modify" class="btn btn-primary" href="/testcase_group/{{ test_case_group.id }}/test_group_edit.html">
                        <span class="fa fa-pencil-square-o  fa-fw"></span>
                    </a>
                    <button id="project_false" class="btn btn-success">
                        <span class="fa fa-toggle-right fa-fw"></span>
                    </button>
                    <button id="project_false" class="btn btn-danger">
                        <span class="fa fa-times-circle fa-fw"></span>
                    </button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>


<!-- 弹框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <form role="form", action="/testcase_group", method="post">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">新增项目</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body" >

               <div class="form-group">
                <label for="inputTaskName" class="col-sm control-label">用例名称</label>
                <div class="col-sm-10">
                    {{ form.csrf_token }}
                    {{ form.testcase_group_name(class="form-control", placeholder="用例名称", size="50" ) }}
{#                  <input type="text" class="form-control" id="inputProjectName" name="project_name"placeholder="项目名称">#}
                </div>
              </div>
              <div class="form-group">
                <label for="inputTaskType" class="col-sm control-label">所属模块
                </label>
                <div class="col-sm-10">
                    {{ form.module_id(class="form-control") }}
{#                  <input type="text" class="form-control" id="inputProjectTesters" name="project_testers" placeholder="测试人员">#}
                </div>
              </div>
              <div class="form-group">
                <label for="inputTaskType" class="col-sm control-label">用例类型</label>
                <div class="col-sm-10">
                    {{ form.testcase_type(class="form-control") }}
{#                  <input type="text" class="form-control" id="inputProjectDeveloper" name="project_developer" placeholder="开发人员">#}
                </div>
              </div>
              <div class="form-group">
                <label for="inputTaskType" class="col-sm control-label">用例简介</label>
                <div class="col-sm-10">
                    {{ form.testcase_desc(class="form-control") }}
{#                  <input type="text" class="form-control" id="inputProjectVersion " name="project_version" placeholder="项目版本">#}
                </div>
              </div>
              <div class="form-group">
                <label for="inputTaskType" class="col-sm control-label">是否激活</label>
                <div class="col-sm-10">
                    {{ form.is_active(class="form-control") }}
{#                  <input type="text" class="form-control" id="inputProjectDesc" name="project_desc" placeholder="项目简介">#}
                </div>
              </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        {{ form.submit(class="btn btn-primary") }}
{#        <button type="submit" class="btn btn-primary">新增</button>#}
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}