{% extends "blank.html" %}

{% block title %}
add new test case
{% endblock %}

{% block own_css %}
<link href="/static/vendor/jquery/jsoneditor.css" rel="stylesheet">
{% endblock %}

{% block page_header %}
    添加用例
{% endblock %}

{% block content %}

    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

            <div class="form-inline">
                <label class="control-label">用例名称:</label>
                <input type="text" class="form-control" id="test_case_name" name="test_case_name" placeholder="用例名称" style="width: 30%">
                &nbsp;&nbsp;
                <label class="control-label">选择用例模块:</label>
                <div class="form-group">
				<div class="btn-group">
					 <button id="dLabel3" style="width: 100px" name="test_case_module" type="button" class="btn btn-primary dropdown-toggle select_module" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id='select_module'>无</span>
                        <span class="caret"></span>
                    </button>
					<ul class="dropdown-menu" aria-labelledby="dLabel3">
                        <li>111</li>
                        <li>222</li>

                    </ul>
				</div>
                &nbsp;&nbsp;
                <label class="control-label">选择用例模版:</label>
                <div class="form-group">
				<div class="btn-group">
					 <button id="dLabel2" style="width: 100px" name="test_case_module" type="button" class="btn btn-primary dropdown-toggle select_interface" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id='select_interface'>无</span>
                        <span class="caret"></span>
                    </button>
					<ul class="dropdown-menu" aria-labelledby="dLabel2">
                        <li>111</li>
                        <li>222</li>

                    </ul>
				</div>

			</div>

            </div>
            </div>
            <br/>
			<div class="form-group">
				<div class="btn-group">
					 <button id="dLabel1" style="width: 100px" name="test_case_method" type="button" class="btn btn-primary dropdown-toggle select_method" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id='select_method'>GET</span>
                        <span class="caret"></span>
                    </button>

					<ul class="dropdown-menu" aria-labelledby="dLabel1">
                        <li>GET</li>
                        <li>POST</li>
                        <li>PUT</li>
                        <li>DELETE</li>
                        <li>PATCH</li>
                        <li>HEAD</li>
                        <li>OPTIONS</li>
                    </ul>

					<div class="input-group">
						&nbsp;
						<input class="form-control" type="text" style="width: 500px" placeholder="输入url" id="test_case_url"/>

						<div class="btn-group">
							&nbsp;
						<button class="btn btn-outline btn-primary" type="button" style="width: 100px" id="test_test_case">
                            SEND <span class="fa fa-paper-plane-o fa-fw"></span></button>
						<button class="btn btn-outline btn-success" type="button" style="width: 100px" id="add_test_case">
                            SAVE <span class="fa fa-floppy-o  fa-fw"></span></button>
					</div>
					</div>

				</div>

			</div>
			<div class="tabbable tabs-below" id="tabs-857406">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-95714" data-toggle="tab">Headers</a>
					</li>
					<li>
						<a href="#panel-660949" data-toggle="tab">Body</a>
					</li>
                    <li>
						<a href="#panel-660948" data-toggle="tab">Tests</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-95714">
						<table class="table table-hover" id="header_table">
                            <thead>
                            <tr class="info">
                                <th style="width: 50px">required</th>
                                <th>key</th>
                                <th>value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" class="require_header_table" checked></td>
                                <td><input type="text" class="form-control key_header_table" disabled></td>
                                <td><input type="text" class="form-control value_header_table" disabled></td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-info" id="add_headers">
                            <span class="fa fa-plus-circle fa-fw"></span>
                        </button>
					</div>
					<div class="tab-pane" id="panel-660949">
						<p>
                        <div class="tabbable" id="tabs-518269"><!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">

                            <li class="active body_type" id="form_data_select"><a contenteditable="true" data-toggle="tab" href="#panel-288214">
                                form-data
                            </a></li>
                            <li class="body_type" id="urlencoded_data_select"><a contenteditable="true" data-toggle="tab" href="#panel-173037">
                                x-www-form-urlencoded
                            </a></li>
                             <li class="body_type" id="JSON_data_select"><a contenteditable="true" data-toggle="tab" href="#panel-173036">
                                 JSON(application/json)
                             </a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" contenteditable="true" id="panel-288214">
                                <table class="table table-hover" id="form_data">
                                    <thead >
                                    <tr class="warning">
                                        <th style="width: 50px">required</th>
                                        <th>key</th>
                                        <th>value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="checkbox" class="require_form_data" checked></td>
                                        <td><input type="text" class="form-control key_form_data"></td>
                                        <td><input type="text" class="form-control value_form_data"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-info" id="add_form_data">
                                    <span class="fa fa-plus-circle fa-fw"></span>
                                </button>
                            </div>
                            <div class="tab-pane" contenteditable="true" id="panel-173037">
                                <table class="table table-hover" id="urlencoded_data">
                                    <thead >
                                    <tr class="success">
                                        <th style="width: 50px">required</th>
                                        <th>key</th>
                                        <th>value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="checkbox" class="require_urlencoded_data" checked></td>
                                        <td><input type="text" class="form-control key_urlencoded_data"></td>
                                        <td><input type="text" class="form-control value_urlencoded_data"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-info" id="add_urlencoded_data"><span class="fa fa-plus-circle fa-fw"></span></button>
                            </div>
                            <div class="tab-pane" contenteditable="true" id="panel-173036">

                                <div id="jsoneditor" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>

						</p>
					</div>
                    <div class="tab-pane" id="panel-660948">
						test
                    </div>
                </div>
            </div>
            <hr/>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Response
                </div>
                <div class="panel-body" id="test_case_response" style="height: 300px">
                   response
                </div>

            </div>

		</div>
	</div>
</div>

{% endblock %}

{% block own_js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="/static/vendor/jquery/jsoneditor-minimalist.js"></script>
    <script src="/static/js/test_runner/test_case.js"></script>

    <script>
    // create the editor
    var container = document.getElementById('jsoneditor');
    var options = {
        modes: ['text', 'code', 'tree', 'form', 'view'],
        mode: 'code',
        ace: ace
    };
    var editor = new JSONEditor(container, options);


	$('.select_method').on('click', function(e) {
        alert(1);
	var $target = $(e.target);
	$target.is('li') && $('#select_method').text($target.text())});

    $('select_module').on('click', function(e) {
	var $target = $(e.target);
	$target.is('li') && $('#select_module').text($target.text())});

    $('.select_interface').on('click', function(e) {
	var $target = $(e.target);
	$target.is('li') && $('#select_interface').text($target.text())});

    $("#add_form_data").click(function(){
        $.table_add_tr("form_data");
    });

    $("#add_urlencoded_data").click(function(){
        $.table_add_tr("urlencoded_data");
    });

    $("#add_headers").click(function(){
        $.table_add_tr("header_table");
    });

    $("#form_data_select").click(function(){

        $.set_header_type("application/form-data")
    });

    $("#urlencoded_data_select").click(function(){

        $.set_header_type("application/x-www-form-urlencoded")
    });

    $("#JSON_data_select").click(function(){

        $.set_header_type("application/json")
    });

    $("#test_test_case").click(function(){
        var api_data = $.get_api_data();
        var data_type = $.trim($(".active.body_type").text());
        var container = document.getElementById('test_case_response');

        container.innerHTML = "";
        var options = {
                mode: 'view'
        };

        if (data_type =="form-data"){

			var data1 = $.api_request(api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["form_data"]);
            data1 = JSON.parse(data1);
            var editor1 = new JSONEditor(container, options, data1);
        }
        if (data_type=="x-www-form-urlencoded"){
			var data2 = $.api_request(api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["urlencoded_data"]);
            data2 = JSON.parse(data2);
            var editor2 = new JSONEditor(container, options, data2);
        }
        if (data_type=="JSON(application/json)"){

            var data3 = $.api_request(api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], editor.getText());

            data3 = JSON.parse(data3);
            var editor2 = new JSONEditor(container, options, data3);

        }
    });

    $("#add_test_case").click(function(){
        var api_data = $.get_api_data();
        var data_type = $.trim($(".active.body_type").text());


        if (data_type =="form-data"){

			var data1 = $.api_save(api_data["test_case_name"], api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["form_data"]);
            alert(data1)
        }
        if (data_type=="x-www-form-urlencoded"){
			var data2 = $.api_save(api_data["test_case_name"],api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], api_data["urlencoded_data"]);
            alert(data2)
        }
        if (data_type=="JSON(application/json)"){


            var data3 = $.api_save(api_data["test_case_names"], api_data["test_case_url"], api_data["test_case_method"], api_data["headers"], editor.getText());
{##}
{#            alert(data3)#}

        }
    });


	</script>

{% endblock %}