{% extends "blank.html" %}

{% block title %}
    runner setting
{% endblock %}

{% block page_header %}
    运行环境设置
{% endblock %}

{% block content %}

    <div class="card mb-3">
        <div class="card-body">
            <div style="margin-bottom: 20px;">
                <!-- 新增 -->
                <a class="btn btn-primary" href="/runner_setting_new.html">新增运行环境</a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    模块列表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>环境名称</th>
                                <th>环境变量</th>
                                <th>环境简介</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for setting in runner_setting %}
                                <tr>
                                <td>{{ setting.name }}</td>
                                <td>/td>
                                <td></td>
                                <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

{% endblock %}