{% extends "blank.html" %}

{% block title %}
    add runner setting
{% endblock %}

{% block page_header %}
    {{ title }}运行环境
{% endblock %}

{% block content %}

    <div class="card mb-3">
        <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" action="#" method="post">
                        {{ form.csrf_token }}
                        {{ render_field(form.key, class="form-control", size="50") }}
                        {{ render_field(form.desc, class="form-control", size="50") }}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                {{ form.value.label }}
                                <button type="button" class="btn btn-success" id="add_variable">添加变量</button>
                            </div>
                            <div class="panel-body">

                                {% for variable in form.value %}
                                    <div class="form-inline variable_field" style="margin-top: 10px">
                                        {{ render_field(variable.key, class="form-control", size="40%") }}
                                        {{ render_field(variable.value, class="form-control", size="40%") }}
                                        <button type="button" class="btn btn-danger delete_variable"
                                                id="variable-{{ loop.index0 }}-remove">删除变量
                                        </button>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block own_js %}
    <script src="/static/js/test_runner/util.js"></script>

    <script>
        $("#add_variable").on('click', function () {
            var variable = $(".variable_field:last");
            $.add_field(variable);
        });
        $(".delete_variable").on("click", function () {
            var variable = $(".variable_field");
            $.delete_field($(this), variable)
        });
    </script>
{% endblock %}