# -*- coding: utf-8 -*-

from app import celery
from app import db
from module.cancel_vc_order_log import CancelVcOrderLog
import pyodbc
import requests


@celery.task
def cancel_vc_orders():
    pass

    connection = pyodbc.connect('***')
    cursor = connection.cursor()
    cursor.execute("xxx")
    rows = cursor.fetchall()
    header = {
        "Content-Type": "application/json"
    }

    for row in rows:
        order_id = row[0]
        data = {
            "orderID": order_id,
        }
        log_obj = CancelVcOrderLog(order_id=order_id)
        response = requests.post("http://10.5.95.190:8080/api/cancelVcOrder.json", headers=header, json=data)
        json_response = response.json()
        log_obj.success = json_response['isSuccess']
        log_obj.message = json_response['message']
        db.session.add(log_obj)
        db.session.commit()

    '''
    for row in rows:
        print(row[0])
        data = {
            "orderID": row[0],
        }
        response = requests.post("http://10.5.95.188:8080/api/oSD_GetCostAmount.json", json=data)
        print(response.text)
    '''
    cursor.close()
