{% extends "blank.html" %}

{% block title %}
create new api
{% endblock %}

{% block navigation %}
    添加新接口
{% endblock %}

{% block content %}
    <h1>添加新的接口</h1>
    <table class="table table-striped" id="request_table" width="100%" cellspacing="0" >
        <tr>
            <td>api名称: <input id="interface_name" type="text" class="form-control" style="width: 200px"/></td>
            <td>所属项目: <input id="interface_project" type="text" class="form-control" style="width: 200px"/> </td>
            <td>url: <input id="interface_url" type="text" class="form-control" style="width: 400px"/></td>
            <td>方法:
                <div class="dropdown">
                    <button id="dLabel" name="interface_method" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id='interface_method'>选择方法</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li>GET</li>
                        <li>POST</li>
                        <li>PUT</li>
                        <li>DELETE</li>
                        <li>PATCH</li>
                        <li>HEAD</li>
                        <li>OPTIONS</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button id="add_header" class="btn btn-primary"  >添加headers</button>
                <button id="delete_header" class="btn btn-danger">删除headers</button>
            </td>

        </tr>
        <tr >
            <th ><input name="btSelectAll" type="checkbox"></th>
            <th >key</th>
            <th >value</th>
            <th >require</th>
        </tr>

        <tr id="parameter_row">
            <td colspan="4">
                <button id="add_parameters" class="btn btn-primary" >添加parameters</button>
                <button id="delete_parameters" class="btn btn-danger">删除parameters</button>
            </td>

        </tr>

        <tr>
            <th ><input name="btSelectAll" type="checkbox"></th>
            <th >key</th>
            <th >value</th>
            <th >require</th>
        </tr>

        <tr id="response_row">
            <th colspan="4">
                添加response
            </th>
        </tr>

        <tr>
            <td colspan="4">
                <textarea name="interface_response" id="interface_response" class="form-control" rows="5">response...</textarea>
            </td>
        </tr>


        <tr>
            <td colspan="4">
                <button id="add_interface" class="btn btn-primary" type="submit">保存</button>
                <button id="test_interface" class="btn btn-primary" type="submit">测试</button>
            </td>
        </tr>

    </table>


{% endblock %}

{% block own_js %}
    <script src="/static/js/test_runner/api.js"></script>

    <script>

    var add_header = $("#add_header");
    var delete_header = $("#delete_header");
    var add_parameters = $("#add_parameters");
    var delete_parameters = $("#delete_parameters");
    var add_interface= $("#add_interface");
    var test_interface = $("#test_interface");
    var interface_response = $("#interface_response");
    var table = document.getElementById("request_table");

    // https://jsfiddle.net/La5tnaqo/
    $('.dropdown-menu').on('click', function(e) {
	var $target = $(e.target);
	$target.is('li') && $('#interface_method').text($target.text())
});


    $(add_header).click(function(){

        var header_row_index = document.getElementById("parameter_row").rowIndex;
        var row = table.insertRow(header_row_index);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        cell1.innerHTML = '<input data-index="0" name="btSelectItem" type="checkbox" class="select_header" >';
        cell2.innerHTML = '<input type="text" class="form-control header_key">';
        cell3.innerHTML = '<input type="text" class="form-control header_value">';
        cell4.innerHTML = '<input type="checkbox" class="header_require">';
    });

    $(delete_header).click(function () {

        var select_rows = $(".select_header:checked");

        select_rows.each(function(){
            var index = $(this).parent().parent().index();

            table.deleteRow(index);
        })

    });

    $(add_parameters).click(function(){
        var header_row_index = document.getElementById("parameter_row").rowIndex;
        var row = table.insertRow(header_row_index+2);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        cell1.innerHTML = '<input data-index="0" name="btSelectItem" type="checkbox" class="select_parameter" >';
        cell2.innerHTML = '<input type="text" class="form-control param_key">';
        cell3.innerHTML = '<input type="text" class="form-control param_value">';
        cell4.innerHTML = '<input type="checkbox" class="param_require">'

    });

    $(delete_parameters).click(function(){

        var select_rows = $(".select_parameter:checked");

        select_rows.each(function(){
            var index = $(this).parent().parent().index();

            table.deleteRow(index);
        })
    });

    $(add_interface).click(function(){
        var interface_name = $("#interface_name").val();
        var module_id = $("#interface_project").val();
        var interface_url = $("#interface_url").val();
        var interface_method = $("#interface_method").text();

        var headers = new Object();
        var head_key = $(".header_key");

        var params = new Object();
        var param_key = $(".param_key");

        $(head_key).each(function(){
            headers[head_key.val()]= $(this).parent().next("td").children(".header_value").val()

        });
        headers = JSON.stringify(headers);

        $(param_key).each(function(){
            params[param_key.val()]= $(this).parent().next("td").children(".param_value").val()

        });
        params = JSON.stringify(params);


        $.ajax({
            url: "/api",
            type: "post",
            data : {
                "interface_name":interface_name,
                "module_id": 1,
                "interface_url": interface_url,
                "interface_method":interface_method,
                "interface_header": headers,
                "interface_body": params
            },
            success: function(data){
                alert(data)
            }

        });


    });

    $(test_interface).click(function(){

        var interface_name = $("#interface_name").val();
        var module_id = $("#interface_project").val();
        var interface_url = $("#interface_url").val();
        var interface_method = $("#interface_method").text();

        var headers = new Object();
        var head_key = $(".header_key");

        var params = new Object();
        var param_key = $(".param_key");

        $(head_key).each(function(){
            headers[head_key.val()]= $(this).parent().next("td").children(".header_value").val()

        });
        headers = JSON.stringify(headers);

        $(param_key).each(function(){
            params[param_key.val()]= $(this).parent().next("td").children(".param_value").val()

        });
        params = JSON.stringify(params);

        var response = $.api_request(interface_url, interface_method, headers, params);


        interface_response.val(response);
    });



</script>
{% endblock %}