{% extends "blank.html" %}

{% block title %}
create new api
{% endblock %}


{% block content %}

    <h1>icon</h1>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book-o"> fa-var-address-book-o </p>
    <br/>
    <p class="fa fa-var-address-card"> fa-var-address-card </p>
    <br/>
    <p class="fa fa-var-address-card-o"> fa-var-address-card-o </p>
    <br/>
    <p class="fa fa-var-adjust"> fa-var-adjust </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>
    <p class="fa fa-var-address-book"> fa-var-address-book </p>
    <br/>




{% endblock %}