{% extends "blank.html" %}

{% block title %}
    modules
{% endblock %}


{% block navigation %}
    模块管理
{% endblock %}

{% block content %}
    <h1>模块管理</h1>
    <div style="margin-bottom: 20px;">
    <div class="btn-group">
        <button id="modules_add" type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">新增模块</button>
    </div>

      </div>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>模块名称</th>
              <th>项目名称</th>
              <th>测试人员</th>
              <th>开发人员</th>
              <th>模块版本</th>
              <th>模块简介</th>
              <th>是否可用</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% for module in modules %}
            <tr>
              <td>{{ module.module_name }}</td>
              <th>{{ module.project_id }}</th>
              <td>{{ module.module_testers }}</td>
              <td>{{ module.module_developer }}</td>
              <td>{{ module.module_version }}</td>
              <td>{{ module.module_desc }}</td>
              <td>{{ module.is_active }}</td>
              <td><button id="modules_modify" class="btn btn-primary">编辑</button>&nbsp;&nbsp;<button id="modules_false" class="btn btn-primary">关闭</button></td>

            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>


<!-- 弹框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form role="form", action="/module", method="post" class="form-group">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">新增项目</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

               <div class="form-inline">
                <label for="inputTaskName" class="control-label">模块名称</label>
                    {{ form.csrf_token }}
                    {{ form.module_name(class="form-control", placeholder="模块名称", size="50" ) }}
{#                  <input type="text" class="form-control" id="inputProjectName" name="project_name"placeholder="项目名称">#}
              </div>
          <div>&nbsp;&nbsp;</div>
              <div class="form-inline">
                <label for="inputTaskName" class="control-label">项目名称</label>
                    {{ form.project_id(class="form-control", placeholder="项目名称", size="50" ) }}
{#                  <input type="text" class="form-control" id="inputProjectName" name="project_name"placeholder="项目名称">#}
              </div>
          <div>&nbsp;&nbsp;</div>
              <div class="form-inline">
                <label for="inputTaskType" class="control-label">测试人员</label>
                    {{ form.module_testers(class="form-control", size="50") }}
{#                  <input type="text" class="form-control" id="inputProjectTesters" name="project_testers" placeholder="测试人员">#}
              </div>
          <div>&nbsp;&nbsp;</div>
              <div class="form-inline">
                <label for="inputTaskType" class="control-label">开发人员</label>
                    {{ form.module_developer(class="form-control", size="50") }}
{#                  <input type="text" class="form-control" id="inputProjectDeveloper" name="project_developer" placeholder="开发人员">#}
              </div>
          <div>&nbsp;&nbsp;</div>
              <div class="form-inline">
                <label for="inputTaskType" class="control-label">模块版本</label>
                    {{ form.module_version(class="form-control", size="50") }}
{#                  <input type="text" class="form-control" id="inputProjectVersion " name="project_version" placeholder="项目版本">#}
              </div>
          <div>&nbsp;&nbsp;</div>
              <div class="form-inline">
                <label for="inputTaskType" class="control-label">模块简介</label>
                    {{ form.module_desc(class="form-control", size="50") }}
{#                  <input type="text" class="form-control" id="inputProjectDesc" name="project_desc" placeholder="项目简介">#}
              </div>
          <div>&nbsp;&nbsp;</div>
              <div class="form-inline">
                <label for="inputTaskType" class="control-label">是否可用</label>
                    {{ form.is_active(class="form-control", size="50") }}
{#                  <input type="radio" id="inputIsActive" name="is_active" placeholder="是否可用">#}
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        {{ form.submit(class="btn btn-primary") }}
{#        <button type="submit" class="btn btn-primary">新增</button>#}
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}